.footer {
  padding: 0 10px 0 10px;
  background-color: beige;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  ul {
    text-align: right;
    //position: relative;
    align-content: flex-end;
    margin-top: 1px;
    li {
      display: inline-block;
      margin: 10px 3px 8px 1px;
      i.bi {
        margin-inline: 1px;
      }
      a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: calc(0.5rem + 0.5vw);
      }
    }
  }
}
