nav {
  background-color: white;
  z-index: 1;
  position: sticky;
  transition: all 0.5s;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  flex-wrap: nowrap; /* Prevent wrapping */

  span {
    color: black;
    display: inline-block;
    padding: 0 20px;
    font-size: calc(0.5rem + 1vw);

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  .search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .accounts {
    display: flex;
    align-items: center;

    .user {
      display: flex;
      align-items: center;

      .pf {
        display: flex;
        align-items: center;

        .username {
          margin-left: 10px;
        }
      }

      .name {
        margin-left: 20px;
      }
    }

    .login {
      display: flex;
      align-items: center;

      span {
        margin-left: 20px;
      }
    }
  }
}

/* Media query for screens less than 768px */
@media (max-width: 768px) {
  nav {
    padding: 10px;
  }

  .input-wrapper {
    max-width: 400px; /* Adjust width for medium screens */
  }
}

/* Media query for screens less than 400px */
@media (max-width: 400px) {
  nav {
    padding: 10px;
  }

  .input-wrapper {
    max-width: 300px; /* Adjust width for very small screens */
  }
}
