
    div{
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        div.container{
            display: grid;
            align-items: center;
           
            margin: 10px 10px 10px 10px;
            justify-content: center;
    form
    {
        margin-bottom: 1rem;
    *, before, after {
    box-sizing: border-box;

}}}}
